<%- include('./header.ejs') %>
  </head>

  <body>
    <div class="table-responsive">
      <form id="createOrder" action="create_payment_url" method="POST">
        <div class="form-group">
          <label>Loại hàng hóa</label>
          <select id="orderType" name="orderType" class="form-control">
            <option value="topup">Nạp tiền điện thoại</option>
            <option value="billpayment">Thanh toán hóa đơn</option>
            <option value="fashion">Thời trang</option>
          </select>
        </div>
        <div class="form-group">
          <label>Số tiền</label>
          <input id="amount" name="amount" placeholder="Số tiền" class="form-control" />
        </div>
        <div class="form-group">
          <label>Nội dung thanh toán</label>
          <textarea id="orderDescription" name="orderDescription" placeholder="Nội dung thanh toán"
            class="form-control"></textarea>
        </div>
        <div class="form-group">
          <label>Ngân hàng</label>
          <select id="bankCode" name="bankCode" class="form-control">
            <option value="">Không chọn</option>
            <option value="VNPAYQR">Ngân hàng VNPAYQR</option>
            <option value="NCB">Ngân hàng NCB</option>
            <option value="SCB">Ngân hàng SCB</option>
            <option value="SACOMBANK">Ngân hàng SACOMBANK</option>
            <option value="EXIMBANK">Ngân hàng EXIMBANK</option>
            <option value="MSBANK">Ngân hàng MSBANK</option>
            <option value="NAMABANK">Ngân hàng NAMABANK</option>
            <option value="VISA">Ngân hàng VISA</option>
            <option value="VNMART">Ngân hàng VNMART</option>
            <option value="VIETINBANK">Ngân hàng VIETINBANK</option>
            <option value="VIETCOMBANK">Ngân hàng VIETCOMBANK</option>
            <option value="HDBANK">Ngân hàng HDBANK</option>
            <option value="DONGABANK">Ngân hàng Dong A</option>
            <option value="TPBANK">Ngân hàng Tp Bank</option>
            <option value="OJB">Ngân hàng OceanBank</option>
            <option value="BIDV">Ngân hàng BIDV</option>
            <option value="TECHCOMBANK">Ngân hàng Techcombank</option>
            <option value="VPBANK">Ngân hàng VPBank</option>
            <option value="AGRIBANK">Ngân hàng AGRIBANK</option>
            <option value="MBBANK">Ngân hàng MBBank</option>
            <option value="ACB">Ngân hàng ACB</option>
            <option value="OCB">Ngân hàng OCB</option>
            <option value="SHB">Ngân hàng SHB</option>
            <option value="IVB">Ngân hàng IVB</option>
          </select>
        </div>
        <div class="form-group">
          <label>Ngôn ngữ</label>
          <select id="language" name="language" class="form-control">
            <option value="vn">Tiếng Việt</option>
            <option value="en">English</option>
          </select>
        </div>
        <input id="btnPopup" type="submit" class="btn btn-default submit_order">
        Thanh toán
        </input>
      </form>
    </div>
    <%- include('./end.ejs') %>



      <!-- //- //Created by vinhnt on 6/16/2017. //- extends layout //- block content //-
h3=title //- div.table-responsive //-
form#createOrder(action='create_payment_url', method='POST') //- div.form-group
//- label Loại hàng hóa //- select.form-control#orderType(name='orderType') //-
option(value='topup') Nạp tiền điện thoại //- option(value='billpayment') Thanh
toán hóa đơn //- option(value='fashion') Thời trang //- div.form-group //- label
Số tiền //- input.form-control#amount(name='amount', placeholder='Số tiền',
value=amount) //- div.form-group //- label Nội dung thanh toán //-
textarea.form-control#orderDescription(name='orderDescription', placeholder='Nội
dung thanh toán')=description //- div.form-group //- label Ngân hàng //-
select.form-control#bankCode(name='bankCode') //- option(value='') Không chọn
//- option(value='VNPAYQR') Ngân hàng VNPAYQR //- option(value='NCB') Ngân hàng
NCB //- option(value='SCB') Ngân hàng SCB //- option(value='SACOMBANK') Ngân
hàng SACOMBANK //- option(value='EXIMBANK') Ngân hàng EXIMBANK //-
option(value='MSBANK') Ngân hàng MSBANK //- option(value='NAMABANK') Ngân hàng
NAMABANK //- option(value='VISA') Ngân hàng VISA //- option(value='VNMART') Ngân
hàng VNMART //- option(value='VIETINBANK') Ngân hàng VIETINBANK //-
option(value='VIETCOMBANK') Ngân hàng VIETCOMBANK //- option(value='HDBANK')
Ngân hàng HDBANK //- option(value='DONGABANK') Ngân hàng Dong A //-
option(value='TPBANK') Ngân hàng Tp Bank //- option(value='OJB') Ngân hàng
OceanBank //- option(value='BIDV') Ngân hàng BIDV //-
option(value='TECHCOMBANK') Ngân hàng Techcombank //- option(value='VPBANK')
Ngân hàng VPBank //- option(value='AGRIBANK') Ngân hàng AGRIBANK //-
option(value='MBBANK') Ngân hàng MBBank //- option(value='ACB') Ngân hàng ACB
//- option(value='OCB') Ngân hàng OCB //- option(value='SHB') Ngân hàng SHB //-
option(value='IVB') Ngân hàng IVB //- div.form-group //- label Ngôn ngữ //-
select.form-control#language(name='language') //- option(value='vn') Tiếng Việt
//- option(value='en') English //-
button.btn.btn-default#btnPopup(type='submit') Thanh toán //- p&nbsp; //- //Neu
dung Redirect thi khong can cac thu vien ben duoi //- // link(rel='stylesheet',
href='https://pay.vnpay.vn/lib/vnpay/vnpay.css') //- //
script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
//- // script(src='https://pay.vnpay.vn/lib/vnpay/vnpay.js') //- //
script(type='text/javascript'). //- // $("#btnPopup").click(function () { //- //
var postData = $("#createOrder").serialize(); //- // var submitUrl =
$("#createOrder").attr("action"); //- // $.ajax({ //- // type: "POST", //- //
url: submitUrl, //- // data: postData, //- // dataType: 'JSON', //- // success:
function (x) { //- // if (x.code === '00') { //- // if(window.vnpay) //- //
location.href=x.data; //- // return false; //- // //- // } else { //- //
alert(x.Message); //- // } //- // } //- // }); //- // return false; //- // }); -->